name: CI
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@master
      - uses: denolib/setup-deno@v1.1.0
        with:
          deno-version: 0.27.0
      - run: deno test.ts
